.header {
  display: flex;
  flex-direction: column;
  padding: 30px 80px 40px;
  position: relative;
  height: 100vh;
  min-height: 720px;
  max-height: 800px;
  background-image: url(../images/background_header.svg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.header__title {
  margin-top: 183px;
  max-width: 709px;
  font-weight: 500;
  font-size: 58px;
  line-height: 72px;
  letter-spacing: 1px;
}

.header__span-accent {
  font-family: "Noto Serif", "Times New Roman", serif;
  font-style: italic;
  font-size: 58px;
  line-height: 72px;
  color: #2f80ed;
}

.header__description {
  margin-top: 28px;
  max-width: 683px;
  font-family: "Noto Serif", "Times New Roman", serif;
  font-size: 20px;
  line-height: 30px;
}

.header__image {
  position: absolute;
  top: 124px;
  right: 5px;
  width: 646px;
  height: 568px;
}

.header__footer {
  display: flex;
  justify-content: space-between;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  color: #838383;
  margin-top: auto;
  align-items: center;
  z-index: 1;
}

.header__paragraph_right {
  position: absolute;
  color: #838383;
  right: 80px;
  bottom: 40px;
}
